html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: #7d7d7d;
    font-family: 'Muli', sans-serif;
    /*background-image: url("../img/prism.png");*/
}


.page-header {
    position: absolute;
    padding: 2rem;
    padding-top: 2.5rem; 
    width: 100%;
    box-sizing: border-box;
}

.page-header.navigation-opened {
    background-color: #FFFFFF;
}

.page-navigation .hamburger .close-icon {
    display: none;
}

.page-header.navigation-opened .hamburger-icon {
    display: none;
}

.page-header.navigation-opened .close-icon {
    display: inline-block;
}

.page-navigation .navigation-menu{
    display: none;
}

.navigation-opened .navigation-menu {
    display: block;
}

.page-navigation ul {
    padding: 20px 0px 0px 0px;
}

.page-navigation .hamburger {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.page-navigation .hamburger svg {
    width: 2.5rem;
    height: auto;
    fill: #000000;
}



.navigation-menu {
    list-style: none;
    text-decoration: none;
    text-align: center;
    /*display: none;*/
}

.navigation-menu li {
    padding: 1rem 0rem;
}

.navigation-menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 2rem; 
}

.navigation-menu .about-me-item {
    background-color: #f7f4e3;
}

.navigation-menu .education-item {
    background-color: #d2e1c8;
}

.navigation-menu .work-experience-item {
    background-color: #fee4a6;
}

.navigation-menu .skills-item {
    background-color: #f9c4aa;
}

.navigation-menu .github-item{
    background-color: #424241;
}


main > section p {
    margin: 0rem;
    padding: 1.6rem;
    line-height: 2.8rem;
}

.my-profile {
    /*margin: 0 auto;*/
    padding: 1rem;
    background-color: #ffffffe3;
    

}

.my-profile img{
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 53px 6px rgba(209,209,209,0.65);
-moz-box-shadow: 0px 0px 53px 6px rgba(209,209,209,0.65);
box-shadow: 0px 0px 53px 6px rgba(209,209,209,0.65);
}

main .education {
    min-height: 70rem;
    background-color: #d2e1c8;
}

main .about-me-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f7f4e3;
    min-height: 70rem;
    padding-top: 6rem;
}

main .work-experience {
    padding-bottom: 5rem;
    background-color: #fee4a6;
    min-height: 70rem;
}

main .skills {
    padding-bottom: 5rem;
    background-color: #d6ba3a;
    min-height: 70rem;
    background-color: #f9c4aa;
}

main .github {
    background-color: #424241;
}

section article p{
    display: inline-block;
    text-align: center;
}

section article p:nth-child(2n-1) {
    display: block;
    color: #182f5059;
    padding-bottom: 0rem;

}


.section-subtitle {
    display: table;
    width: 100%;
    padding: 1rem;
    margin: 0.6rem 1.2rem;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    
}

.section-subtitle > * {
    display: inline-block;
    vertical-align: middle;
}

.section-subtitle img {
    width: 3rem;
    padding: 0;

}
.section-subtitle > span {
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 700;
    width: 80%;
    text-align: center;
}


.link-github {
 padding-left: 4rem;
 text-decoration: none;
 color: #d6ba3a
}

.special-text {
    font-weight: 700;
}