html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color:#fdf1babd;
    font-family: 'Muli', sans-serif;
    /*background-image: url("../img/prism.png");*/
}

.page-header {
    position: absolute;
    padding: 2rem;
    padding-top: 2.5rem; 
    width: 100%;
    box-sizing: border-box;
}

.page-header.navigation-opened {
    background-color: #FFFFFF;
}

.page-navigation .hamburger .close-icon {
    display: none;
}

.page-header.navigation-opened .hamburger-icon {
    display: none;
}

.page-header.navigation-opened .close-icon {
    display: inline-block;
}

.page-navigation .navigation-menu{
    display: none;
}

.navigation-opened .navigation-menu {
    display: block;
}

.page-navigation .hamburger {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.page-navigation .hamburger svg {
    width: 2.5rem;
    height: auto;
    fill: #000000;
}



.navigation-menu {
    list-style: none;
    text-decoration: none;
    text-align: center;
    /*display: none;*/
}

.navigation-menu li {
    padding: 1rem 0rem;
}

.navigation-menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    
}

.main {
    padding-top: 10rem;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #182f5059
    
}

.my-profile {
    /*margin: 0 auto;*/
    padding: 1rem;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    

}

.my-profile img{
    width: 10rem;
    -webkit-box-shadow: 0px 0px 53px 6px rgba(209,209,209,0.65);
-moz-box-shadow: 0px 0px 53px 6px rgba(209,209,209,0.65);
box-shadow: 0px 0px 53px 6px rgba(209,209,209,0.65);
}



.main > section {
    margin-top: 5rem;
}
.main:nth-child(1) {
    margin-top: 0px;
}

.section-subtitle {
    display: table;
    background-color: #80817D;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    
}

.section-subtitle > * {
    display: inline-block;
    vertical-align: middle;
}

.section-subtitle img {
    width: 3rem;
    padding: 0;

}
.section-subtitle > span {
    padding-left: 3rem;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 700;
}


.link-github {
 padding-left: 4rem;
 text-decoration: none;
 color: #d6ba3a
}


